.contact-main {
    display: flex;
    flex-wrap: wrap;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-icons {
    margin: 20px;
}

.contact-card {
    height: 100%;
    border-radius: 20px;
    background: #1180c1;
    color: #ffffff;
    padding: 34px;
}

.contact-btn {
    border-radius: 30px;
    background: #E5E5E5;
    width: 231px;
    height: 50px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn:hover {
    background: #ffffff;
    color: #655D52;
}

.sent-success {
    background-color: green;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.adress , .email, .phone {
    font-size: 20px;

}