/* #region Title */



/* #region Title Desktop */
#title-desktop {
  min-height: 100vh;
  min-width: 100vw;
  /* Semi-transparent white background color */
  z-index: 5;
  display: block;
  position: relative;
}

#title-desktop .img-1,
#title-desktop .img-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 0;
  /* Maintain final state of the animation */
}

#title-desktop .img-1 {
  opacity: 1;
  background-image: url('/images/styling/placeholder.jpg');

  content: url('/images/styling/title-1.gif') url('/images/styling/title-1.jpg') url('/images/styling/placeholder.jpg');
  animation-name: fadeInImg1;
  /* Start with opacity set to 0 */
  animation-duration: 2.3s;
  /* Animation duration */
  animation-fill-mode: forwards;
  transition: opacity 0.1s;
  /* Detect changes to the opacity property */
  /* Apply fadeInImg1 animation */

}

#title-desktop .img-2 {
  right: 0;
  /* Clip the element to show the left side */
  background-image: url('/images/styling/title-2.gif');
  content: url('/images/styling/title-2.gif') url('/images/styling/title-2.jpg');
  animation-name: fadeInImg2;
  /* Apply fadeInImg2 animation */
  animation-delay: 2.25s;
  /* Delay the animation for 5 seconds */
  /* Start with opacity set to 0 */
  animation-duration: 2.50s;
  /* Animation duration */
  animation-fill-mode: forwards;
  transition: opacity 0.1s;

}

@keyframes fadeInImg1 {
  from {
    background-image: url('/images/styling/title-1.gif');

    /* Start with opacity 0 */
  }

  95% {
    background-image: url('/images/styling/title-1.gif');
    opacity: 1;

  }

  to {
    /* End with opacity 1 */
    background-image: url('/images/styling/title-1.jpg');
    opacity: 1;

  }
}

@keyframes fadeInImg2 {
  from {
    left: 0;
    opacity: 0;
    /* Start with opacity 0 */
    clip-path: polygon(100% 0, 0 0, -10% 100%, 100% 100%);

  }

  35% {
    opacity: 1;
    clip-path: polygon(100% 0, 0 0, -10% 100%, 100% 100%);
  }

  95% {
    opacity: 1;
    clip-path: polygon(100% 0, 55% 0, 45% 100%, 100% 100%);
    background-image: url('/images/styling/title-2.gif');
  }

  to {
    opacity: 1;
    /* End with opacity 1 */
    clip-path: polygon(100% 0, 55% 0, 45% 100%, 100% 100%);
    background-image: url('/images/styling/title-2.jpg');
  }
}

#title-desktop #bg {
  position: absolute;
  /* Position the background absolutely within the parent div */
  top: 0;
  /* Align the background to the top of the parent div */
  left: 0;
  /* Align the background to the left of the parent div */
  width: 100%;
  /* Ensure the background spans the entire width of the parent div */
  height: 100%;
  /* Ensure the background spans the entire height of the parent div */
  background-color: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white background color */
  z-index: 1;
  /* Ensure the background appears in front of other content */
  backdrop-filter: blur(5px);
  /* Apply a blur effect to the background */

}

#title-desktop #title-greener,
#title-desktop #title-bluer {
  position: absolute;
  z-index: 1;
  /* Ensure "title-greener" appears in front of other content */
  font-size: 5vw;
}

#title-desktop #title-greener {
  top: 10%;
  /* Align "title-bluer" vertically in the middle */
  left: 5%;
  /* Position "title-greener" to the left side */
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

#title-desktop #title-bluer {
  top: 50%;
  /* Align "title-bluer" vertically in the middle */
  right: 10%;
  /* Position "title-bluer" to the right side */
  transform: translateY(-50%);
  /* Adjust vertical alignment */
  color: #fff;
  font-weight: bold;

  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);

}

/* #endregion */

/* #region Title Mobile */

#title-mobile {
  background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2019/05/spencer-watson-330677-unsplash-1170x490.jpg);
  background-size: cover;
  /* Ensures the background image covers the entire #title section */
  min-height: 100vh;
  /* Set a minimum height for the section */
  display: none;
  /* Hide the element by default */

}

/* #endregion */



/* Media query for mobile screens */
@media (max-width: 767px) {
  #title-desktop {
    display: none;
    /* Hide the desktop version on mobile screens */
  }

  #title-mobile {
    display: block;
    /* Show the mobile version on mobile screens */
  }
}

/* #endregion */


.carousel {
  width: 100%;
  max-height: auto;
  overflow: hidden;
  background-color: #98c1d9;
}

.carousel-item img {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
}

/* Add this CSS to your stylesheet */
#carouselHotSellers a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Use the default text color */
}

/* 
Media to change the carosel height for smaller screen sizes
*/
@media screen and (max-width: 990px) {
  .carousel-item img {
    min-width: 100%;
    height: 200px;
  }
}

section {
  padding-bottom: 5vh;
}