#title{
  background-image: url(https://sb.ecobnb.net/app/uploads/sites/3/2019/05/spencer-watson-330677-unsplash-1170x490.jpg);

}


.carousel {
  width: 100%;
  max-height: auto;
  overflow: hidden;
  background-color: #98c1d9;
}

.carousel-item img {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
}

/* Add this CSS to your stylesheet */
#carouselHotSellers a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}

/* 
Media to change the carosel height for smaller screen sizes
*/
@media screen and (max-width: 990px) {
  .carousel-item img {
    min-width: 100%;
    height: 200px;
  }
}

