@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;   
    background-color:white;
    color:black;
    
}
footer{
    margin-top:2rem;
}
main{
    min-height: 100vh;
    margin:5vh;
}

.expand-hover{
    transition: 0.3s ease-in-out;
}

.expand-hover:hover{
    transform: scale(1.03);
}



/*
.btn{
    background: #655D52;
    color:white;
}

.btn:hover{
    background: white;
    color:black;
}
*/