@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /*
    Naming:
    First the class or id it belongs to. ex body
    next what area it targets. ex background (can be as many as needed. ex active-text)
    then lastly the attributes name. ex color
    */
    --main-background-color: #FFEED9;
    --main-text-color: #183838;

    --nav-background-color: #39A7FF;
    --nav-text-color: #FFFFFF;
    --nav-active-text-color: #ffffff;

    --footer-background-color: #e4c9a9;

    --spotlight-color-1: #87C4FF;
}
.btn-sticky {
    position: fixed;
    bottom: 6%;
    right: 0;
    transform: translateY(50%);
    z-index: 1000; /* Ensure it's above other content */
  }
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

footer {
    background-color: var(--footer-background-color);
}

/* #region Navigation */

#navbar {
    background: linear-gradient(90deg, #00709ce1 45%, rgba(0,212,255,0) 100%), url('/images/styling/oceanbackground.jpg');
}

#navbar .nav-item .nav-link {
    color: var(--nav-text-color);
}

#navbar .nav-link.active {
    color: var(--nav-active-text-color) !important;
    text-decoration: underline ;
    font-weight: bold;
    text-underline-offset: 0.3rem;
}

/* #endregion */

main {
    min-height: 100vh;
    margin-left: 3vh;
    margin-top: 3vh;
    margin-right: 3vh;
}

.card {
    background-color: var(--spotlight-color-1);
    border-radius: 25px; /* Adjust the value as needed */
}

@media (min-width: 980px) {
    #iconsnavbar {
        order: 2; /* Change the order of the iconsnavbar */
    }
}
