@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /*
    Naming:
    First the class or id it belongs to. ex body
    next what area it targets. ex background (can be as many as needed. ex active-text)
    then lastly the attributes name. ex color
    */
    --main-background-color: #ffff;
    --main-text-color: #183838;

    --nav-background-color: #00709ce1;
    --nav-text-color: #FFFFFF;
    --nav-active-text-color: #ffffff;

    --footer-background-color: #c2b395;

    --links-text-color: #ffffff;

    --spotlight-color-1: #ebebeb;

    --normal-background-color: #fff;
    --discount-background-color: #c5ffd172;
    --hot-background-color: #ff800031;
}

/* #region Interactive Chat */

.btn-sticky {
    position: fixed;
    bottom: 6%;
    right: 0;
    transform: translateY(50%);
    z-index: 50 !important;
    /* Ensure it's above other content */
}

.card-body-s {
    margin: auto;
    position: fixed;
    bottom: 6%;
    right: 1%;
    z-index: 5;
    border: solid 1px #fff;
    max-width: 250px;
    width: max-content;
    background-color: #fff;
    height: inherit;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 3px 10px 3px #9c9999;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* #endregion */


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    overflow-x: hidden;
    /* Prevent horizontal overflow */

}

/* #region Navigation */

#navbar {
    background: linear-gradient(90deg, var(--nav-background-color) 45%, rgba(0, 212, 255, 0) 100%), url('/images/styling/oceanbackground.jpg');
    border-bottom: 1.5px solid #FFFFFF;
}

#navbar .nav-item .nav-link {
    color: var(--nav-text-color);
}

#navbar .nav-link.active {
    color: var(--nav-active-text-color) !important;
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: 0.3rem;
}

@media (min-width: 980px) {
    #iconsnavbar {
        order: 2;
        /* Change the order of the iconsnavbar */
    }
}

/* #endregion */

/* #region Footer */


footer {
    background: linear-gradient(180deg, var(--footer-background-color) 57%, rgba(0, 212, 255, 0) 100%), url('https://live.staticflickr.com/31/44927594_e068e92c56_c.jpg');
}

#footericons a {
    color: var(--links-text-color);
}

/* #endregion */

/* #region Main */

main {
    min-height: 100vh;
}

main #maincontent section {
    padding-bottom: 5vh;

}

@media screen and (min-width: 1368px) {
    main {
        background-color: #e3eefc56;
    }

    main #maincontent {
        min-height: 100vh;
        background-color: #fff;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}

/* #endregion */

/* #region custom styling */

.card.expand-hover {
    transition: 0.3s ease-in-out;
}

.card.expand-hover:hover {
    transform: scale(1.03);
}

.normal.shadow {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

}

.discount.shadow {
    box-shadow: 0 0 10px 5px rgba(197, 253, 114, 0.2) !important;
}

.hot.shadow {
    box-shadow: 0 0 10px 5px rgba(255, 128, 0, 0.1) !important;
}

.normal.bg {
    background-color: var((var(--normal-background-color)));
}

.hot-bg {
    background-color: var(--hot-background-color);
}

.discount-bg {
    background-color: var((--discount-background-color));
}

.title-text {

    padding-top: 4vh;
    padding-bottom: 1vh;
}

/* #endregion */