/* #region Text */

#product .name {
    font-weight: normal;
    /* Make the text bold */
    font-size: 1.3rem !important;
}

#product .showcase-price {
    font-weight: bold;
    /* Make the text bold */
    font-size: 1.5rem !important;
}

#product .discount-price {
    font-weight: normal;
    /* Make the text bold */
    font-size: 1rem !important;
}

#product .discount-number {
    font-weight: bold;
    /* Make the text bold */
    font-size: 1.5rem !important;
}

@media (max-width: 1024px) {


    #product .name {
        font-weight: normal;
        /* Make the text bold */
        font-size: 1rem !important;
    }

    #product .showcase-price {
        font-weight: bold;
        /* Make the text bold */
        font-size: 1.2rem !important;
    }

    #product .discount-price {
        font-weight: normal;
        /* Make the text bold */
        font-size: 0.8rem !important;
    }

    #product .discount-number {
        font-weight: bold;
        /* Make the text bold */
        font-size: 1.5rem !important;
    }

}

/* Media queries for smaller screens */
@media (max-width: 767px) {


    #product .name {
        font-weight: normal;
        /* Make the text bold */
        font-size: 1.3rem !important;
    }

    #product .showcase-price {
        font-weight: bold;
        /* Make the text bold */
        font-size: 1.5rem !important;
    }

    #product .discount-price {
        font-weight: normal;
        /* Make the text bold */
        font-size: 1rem !important;
    }

    #product .discount-number {
        font-weight: bold;
        /* Make the text bold */
        font-size: 1.5rem !important;
    }
}

/* Media queries for even smaller screens */
@media (max-width: 300px) {

    #product .name {
        font-weight: normal;
        /* Make the text bold */
        font-size: 1rem !important;
    }

    #product .showcase-price {
        font-weight: bold;
        /* Make the text bold */
        font-size: 1rem !important;
    }

    #product .discount-price {
        font-weight: normal;
        /* Make the text bold */
        font-size: 0.9rem !important;
    }

    #product .discount-number {
        display: none;
    }
}

/* #endregion */


#product .card-details {
    padding: 4%;
    padding-left: 6%;
}

#product .regular-price {
    padding-right: 1%;
}

#product .start {
    position: relative;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#product .end {
    position: absolute;
    transform-origin: bottom right;
    bottom: 15%;
    right: 15%;
}

@media (max-width: 1024px) {

}


/* Media queries for smaller screens */
@media (max-width: 768px) {

}

/* Media queries for even smaller screens */
@media (max-width: 576px) {

}


.end {
    position: relative;
}

#product .discount {
    position: absolute;
    /* Adjust as needed */
    transform: translateY(83%);
    color: #cc0c39;
    /* Adjust text color as needed */
    font-weight: normal;
}

.price-wrapper {
    flex-direction: column;
}

.price-wrapper span {
    margin-top: 0.25rem;
}

/* #region Image */

#product .card-img-top {
    border-bottom: 1px solid #ccc !important;
    /* Adjust the color and thickness as needed */
}

/* #endregion */


/* #region Shadow */

.discount.shadow {
    box-shadow: 0 0 10px 5px rgba(197, 253, 114, 0.2) !important;
}

.hot.shadow {
    box-shadow: 0 0 10px 5px rgba(255, 128, 0, 0.1) !important;
}


/* #endregion */


/* #region Hover */

#product.expand-hover {
    transition: 0.3s ease-in-out;
}

#product.expand-hover:hover {
    transform: scale(1.03);
}

/* #endregion */