.product-badge{
    background-color: #1d1912;
    color: white;
    font-size: 50%;
    position: absolute;
}

.attribute-color, .attribute-color:checked, .attribute-color:focus{
    transform:scale(1.5);
    accent-color: currentColor;
    cursor: pointer;
    background-color: currentColor;
    border-color:color-mix(in srgb, currentColor 70%, black);
    transition: all 0.2s;
}

.attribute-color:checked, .attribute-color:focus{
    opacity: 80%;
    border: currentColor;
    background: currentColor;
}

.product-submit, .category-button{
    background-color: #1d1912;
}

#productCarousel a:link { 
    text-decoration: none; 
}

.carousel-control-prev,
.carousel-control-next{
    opacity: 15%;
    width: 7vh;
}

.truncate {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box; 
}

#productCarousel .card{
    box-shadow:100px;
}

#productCarousel .carousel-inner{
    overflow:visible;
}

.review-card .card select{
    align-items: start;
    width: 55px;
    height: 30px;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid #d0dadb !important;
    box-shadow: 0 0 3px #d0dadb!important;
}


@media screen and (min-width: 1368px) {
    main {
        background-color: #e3eefc56;
    }

    main #maincontent {
        padding-top: 0;
        padding-bottom: 0;
    }
}
  