     
.buttoncontainer {
  width: 100%;
  text-align: center;
}

.buttoncontainer h7:active {
  background-color: rgb(115, 113, 113); 
}

.text h1{
margin-top: 20px;
}
    .aboutbutton,.Faqbutton,.ourcommitmentsbutton,.meetteambutton{
   
    display: inline-block;
    margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
   cursor: pointer;
}
#back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
  }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
  }
  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }
  
  .portfolio-modal .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
  }
  .portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
    /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1193 {
      padding: var(--sectionPadding);
      position: relative;
      overflow: hidden;
  }
  #faq-1193 .cs-container {
      width: 100%;
      /* chnages to 1280px at desktop */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq-1193 .cs-content {
      text-align: left;
      max-width: 39.375rem;
  }

  #faq-1193 .cs-title {
      /* 20 characters wide including spaces */
      max-width: 20ch;
      margin: 0 0 2rem 0;
  }
  #faq-1193 .cs-faq-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
  }
  #faq-1193 .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: #f7f7f7;
      padding: 1.25rem;
      box-sizing: border-box;
      transition: border-bottom 0.3s;
  }
  #faq-1193 .cs-faq-item.active {
      border-color: var(--primaryLight);
  }
  #faq-1193 .cs-faq-item.active .cs-button {
      color: var(--primary);
  }
  #faq-1193 .cs-faq-item.active .cs-button:before {
      background-color: var(--primaryLight);
      transform: rotate(315deg);
  }
  #faq-1193 .cs-faq-item.active .cs-button:after {
      background-color: var(--primaryLight);
      transform: rotate(-315deg);
  }
  #faq-1193 .cs-faq-item.active .cs-item-p {
      height: auto;
      padding-top: 1rem;
      opacity: 1;
  }
  #faq-1193 .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      padding: 0;
      border: none;
      background: transparent;
      color: var(--headerColor);
      display: block;
      width: 100%;
      position: relative;
      transition:
          background-color 0.3s,
          color 0.3s;
  }
  #faq-1193 .cs-button:hover {
      cursor: pointer;
  }
  #faq-1193 .cs-button:before {
      /* left line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 0.25rem;
      transform: rotate(45deg);
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
      transition: transform 0.5s;
  }
  #faq-1193 .cs-button:after {
      /* right line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 0.0625rem;
      transform: rotate(-45deg);
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
      transition: transform 0.5s;
  }
  #faq-1193 .cs-button-text {
      width: 90%;
      display: block;
  }
  #faq-1193 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      max-width: 33.8125rem;
      height: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition:
          opacity 0.3s,
          padding-bottom 0.3s;
  }
  #faq-1193 .cs-image-group {
      /* we use ems for everything in the container so they pull their value for em from the font size of this parent instead of the root element (html). This font size scales with the view width of the screen and stops when the font size equals the value of 1em (16px) and stops growing */
      font-size: min(2.43vw, 1em);
      width: 37.375em;
      height: 42.375em;
      display: block;
      position: relative;
  }
  #faq-1193 .cs-picture {
      display: block;
      position: absolute;
      z-index: 1;
  }
  #faq-1193 .cs-picture1 {
      width: 32.625em;
      height: 38.0625em;
      top: 0;
      left: 0;
  }
  #faq-1193 .cs-picture1 img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #faq-1193 .cs-picture2 {
      width: 25em;
      height: 40.625em;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      bottom: 0;
      right: 0;
  }
  #faq-1193 .cs-picture2 img {
      width: auto;
      height: 100%;
      max-height: 40.625rem;
      object-fit: contain;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #faq-1193 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
  }
  #faq-1193 .cs-content {
      width: 55%;
  }
  #faq-1193 .cs-image-group {
      font-size: min(1.4vw, 1em);
      height: auto;
      min-height: 42.375rem;
  }
  #faq-1193 .cs-picture1 {
      height: 90%;
  }
}

                              
  }
  
                              