.logo {
  text-align: center;
  min-width: 50%;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.carousel {
  width: auto;
  max-height: auto;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.carousel-item img {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  max-height: 500px;
}

/* 
Media to change the carosel height for smaller screen sizes
*/
@media screen and (max-width: 768px) {
  .carousel {
    /* Pushes out the margins on mobile devices so it lines up with the article body. */
    margin-left: -20px !important;
    margin-right: -20px !important;
    width: inherit !important;
  }

  .carousel-item img {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    max-height: 100px;
  }
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}