@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;   
    background-color:white;
    color:black;
    
}
footer{
    margin-top:2rem;
}
main{
    min-height: 100vh;
    margin:5vh;
}


.card-body-s {
    margin: auto;
    position: fixed;
    bottom: 6%;
    right: 1%;
    z-index: 1;
    border: solid 1px #fff;
    max-width: 250px;
    width: max-content;
    background-color: #fff;
    height: inherit;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 3px 10px 3px #9c9999;
    cursor: pointer;
  } 
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }    






/*
.btn{
    background: #655D52;
    color:white;
}

.btn:hover{
    background: white;
    color:black;
}
*/