.product-badge{
    background-color: #39352f;
    font-size: 55%;
    position: absolute;
}

.attribute-color, .attribute-color:checked{
    transform:scale(1.5);
    accent-color: currentColor;
    cursor: pointer;
    background-color: currentColor;
    border-color:color-mix(in srgb, currentColor 70%, black);
}

.attribute-color:checked{
    background: color-mix(in srgb, currentColor 70%, black);
}

.submit{
    background-color: #1d1912;
}