/* Sidebar */
body #sidebar {
    width: 250px;
    background: #343a40;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

body .wrapper {
    margin-left: 250px; /* Adjust based on sidebar width */
    transition: margin-left 0.3s;
}

body .heading {
    padding: 20px;
    margin-top: 2vh;
}

body .sidebar {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

body .sidebar-item {
    border-bottom: 1px solid #495057;
    padding: 10px 0;
}

body .sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #adb5bd;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

body .sidebar-link i {
    margin-right: 10px;
}

body .sidebar-link:hover,
body .sidebar-item.active .sidebar-link {
    background-color: #495057;
    color: #fff;
}

body .sidebar-item:hover {
    background-color: #495057;
}

/* Adjust main content */
body main {
    margin-left: 250px; /* Same as sidebar width */
    padding-top: 20px; /* Adjust based on header height */
}

body footer {
    margin-top: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body #sidebar {
        width: 100%;
        position: static;
        height: auto;
    }
    
    body .wrapper {
        margin-left: 0;
    }
    
    body main {
        margin-left: 0;
        padding-top: 0;
    }
}
