/* #region Title Desktop */
#house-container {
    position: relative;
    min-width: 100% !important;
    height: 0;
    padding-top: 56.25%;

    /* 16:9 aspect ratio (9 divided by 16 = 0.5625) */
}

#house-container #house {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
    height: 90%;
    background-size: 100% 100%;
    opacity: 1;
    background-image: url('/images/styling/house.jpg');
    background-color: #ffffff00;

    /* Maintain final state of the animation */
}

#house .button {
    position: absolute;
    width: 100px;
    /* Adjust button width as needed */
    height: 100px;
    /* Adjust button height as needed */
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0) !important;
    /* Fade in text color */

    /* Transparent background */
    border: none;
    transform: translate(-50%, -50%);
    transition: backdrop-filter 0.3s ease, color 0.3s ease;
    /* Add transition for smooth effect */

    /* Add transition for smooth effect */
}

#house .button:hover {
    backdrop-filter: blur(5px);
    /* Apply blur effect on hover */
    color: rgba(255, 255, 255, 1) !important;
    /* Fade in text color */

}

#bedroom {
    top: 20%;
    left: 23.5%;
    width: 43.5% !important;
    height: 35% !important;
}

#dining-room {
    top: 27%;
    left: 61%;
    width: 30% !important;
    height: 48% !important;
}

#garden {
    top: 18%;
    left: 88%;
    width: 24% !important;
    height: 34.5% !important;
}

#bathroom {
    top: 69%;
    left: 9.5%;
    width: 15% !important;
    height: 55% !important;
}

#living-room {
    top: 69% !important;
    left: 38% !important;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 67% 20%, 67% 0%) !important;
    /* Defines the polygon shape */
    width: 39% !important;
    height: 55.5% !important;
    /* Example background color */
}

#office {
    top: 74.5%;
    left: 67.5%;
    width: 17% !important;
    height: 44% !important;
}

#kitchen {
    top: 67.15%;
    left: 87.6%;
    width: 20% !important;
    height: 57.55% !important;
}

#house .button h3 {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.34);
    padding: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#house .button .info-text {
    font-size: 180%;
    right: 8%;
    bottom: 0;
    position: absolute;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #house .button h3 {
        font-size: 1rem;
        /* Adjusted font size for smaller screens */
    }

    #house .button .info-text {
        font-size: 50%;
        /* Adjusted font size for smaller screens */
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #house .button h3 {
        font-size: 0.5rem;
        /* Adjusted font size for medium-sized screens */
    }
    
    #house .button .info-text {
        font-size: 110%;
        /* Adjusted font size for smaller screens */
    }
}
