body .fire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -55%);
    height: 20vw;
    width: 20vw;
}
body .fire .flames {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 8%;
    height: 8%;
    transform: translateX(-50%) rotate(45deg);
}
body .fire .flames .flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #ffdc01;
    border-radius: 0.5vw;
}
body .fire .flames .flame:nth-child(2n + 1) {
    animation: flameodd 3s ease-in infinite;
}
body .fire .flames .flame:nth-child(2n) {
    animation: flameeven 3s ease-in infinite;
}
body .fire .flames .flame:nth-child(1) {
    animation-delay: 0s;
}
body .fire .flames .flame:nth-child(2) {
    animation-delay: 0.6s;
}
body .fire .flames .flame:nth-child(3) {
    animation-delay: 1.2s;
}
body .fire .flames .flame:nth-child(4) {
    animation-delay: 1.8s;
}
body .fire .logs {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15%;
}
body .fire .logs:before, body .fire .logs:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    height: 100%;
    width: 100%;
    border-radius: 0.4vw;
    background-color: #70392f;
}
body .fire .logs:before {
    transform: translate(-50%, -50%) rotate(-20deg);
    background-color: #612e25;
}
@keyframes flameodd {
    0%, 100% {
        width: 0%;
        height: 0%;
   }
    25% {
        width: 100%;
        height: 100%;
   }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
   }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
   }
    100% {
        background-color: #f73b01;
        z-index: -10;
   }
    0% {
        right: 0%;
        bottom: 0%;
   }
    25% {
        right: 1%;
        bottom: 2%;
   }
    100% {
        right: 150%;
        bottom: 170%;
   }
}
@keyframes flameeven {
    0%, 100% {
        width: 0%;
        height: 0%;
   }
    25% {
        width: 100%;
        height: 100%;
   }
    0% {
        background-color: #ffdc01;
        z-index: 1000000;
   }
    40% {
        background-color: #fdac01;
        z-index: 1000000;
   }
    100% {
        background-color: #f73b01;
        z-index: -10;
   }
    0% {
        right: 0%;
        bottom: 0%;
   }
    25% {
        right: 2%;
        bottom: 1%;
   }
    100% {
        right: 170%;
        bottom: 150%;
   }
}
