
.wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #e4c9a9;
}

footer .svgHolder{
    min-width: 100%;
    background-color: #FFEED9;
    z-index: 1; /* Ensure the SVG is behind other content */
}

.gooeff {
    filter: url(#goo);
}

#wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: .6
}

#wave3 {
    animation-duration: 7s;
    opacity: .3;
}

@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}
